[build]
builder = "DOCKERFILE"

[deploy]
startCommand = ""
restartPolicyType = "ON_FAILURE"

[[services]]
name = "backend"
root = "backend"
dockerfilePath = "Dockerfile"

[[services]]
name = "frontend"
root = "frontend"
dockerfilePath = "Dockerfile"
