[build]
builder = "DOCKERFILE"

[deploy]
startCommand = ""
restartPolicyType = "ON_FAILURE"

[[services]]
name = "backend"
path = "backend"
dockerfilePath = "backend/Dockerfile"

[[services]]
name = "frontend"
path = "frontend"
dockerfilePath = "frontend/Dockerfile"
